{erl_opts, [debug_info,
            warn_missing_spec,
            %% Prior to OTP 19.0 erl_prettypr can't print -spec
            %% and -type attributes - it outputs invalid forms.
            {platform_define, "1[78]", erl_prettypr_no_specs}
           ]}.
{erl_first_files, ["src/docsh_embeddable.erl"]}.
{deps,
 [
  {parse_trans, ".*", {git, "https://github.com/uwiger/parse_trans.git", {branch, "master"}}}
 ]}.

{profiles,
 [ {test, [
           {deps, [ {katana_test, "0.1.1"}] }
          ]}]}.
