{erl_opts, [debug_info,
            warn_missing_spec,
            %% This makes it easier to spot what should be handled by docsh_lib:format_error/1
            {no_auto_import, [{error, 1}, {error, 2}]}
           ]}.

{deps, []}.

{profiles,
 [ {test, [
           {deps, [
                   {xref_runner, "1.0.0"},
                   {erlsh, {git, "git://github.com/proger/erlsh.git", {branch, "master"}}}
                  ] }
          ]}]}.
